ENGINE_MODE=paper
ENGINE_POLL_INTERVAL_SECONDS=60
ENGINE_DATABASE_URL=
ENGINE_BINANCE_API_KEY=
ENGINE_BINANCE_API_SECRET=
ENGINE_BINANCE_USE_TESTNET=true
ENGINE_BINANCE_FUTURES=true
ENGINE_DEFAULT_LEVERAGE=5
ENGINE_CANDLES_LIMIT=250
ENGINE_LOG_LEVEL=INFO
